/* FORKS */
.Fork-Table {
  
}

.Fork-Wrapper {
  text-align: left;
  padding-bottom: 1vh;
  font-family: Oswald, sans-serif;
  font-size: 17.333px;
}

.Fork-Timestamp {
  
}

.Fork-Links {
  
}

.Fork-Details {

}

a {
  font-style: italic;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
